<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="UTF-8">
    <title>{% block title %} Template - HelloFlask{% endblock %}
    </title>
    {% block styles %}{% endblock %}
    {%endblock%}
</head>
<body>
<main>
    {% for message in get_flashed_messages()%}
        <div class="alert">{{message}}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
{%block scripts %}{% endblock %}
</body>
</html>