argh==0.26.2
beautifulsoup4==4.5.3
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-CKEditor==0.4.3
Flask-WTF==0.14.2
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pathtools==0.1.2
Pillow==5.0.0
python-dotenv==0.9.1
PyYAML==3.12
requests==2.18.4
six==1.10.0
urllib3==1.22
watchdog==0.9.0
Werkzeug==0.14.1
wrapcache==1.0.8
WTForms==2.2.1
